In [1]:
#import spark for python! 
import pyspark

#create the spark session
spark = pyspark.sql.SparkSession.builder.getOrCreate()
spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/11 08:41:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/07/11 08:41:51 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
# imports
import pandas as pd
import numpy as np
from pydataset import data

## Create a spark data frame that contains your favorite programming languages.
* The name of the column should be language
* View the schema of the dataframe
* Output the shape of the dataframe
* Show the first 5 records in the dataframe

In [3]:
# Define a list of your favorite programming languages
favorite_languages = ["Python", "Java", "JavaScript", "C++", "Ruby"]

# Create a DataFrame with the column name "language"
df = spark.createDataFrame([(language,) for language in favorite_languages], ["language"])

# Show the DataFrame
df.show()

+----------+
|  language|
+----------+
|    Python|
|      Java|
|JavaScript|
|       C++|
|      Ruby|
+----------+

## Load the mpg dataset as a spark dataframe.

In [4]:
mpg = spark.createDataFrame(data("mpg"))
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [5]:
# Convert the pandas DataFrame to Spark DataFrame
df = spark.createDataFrame(mpg)

# Create a new column with the desired output message
df = df.withColumn('output', 
                   F.concat(F.lit('The '), df.year, F.lit(' '), df.manufacturer, F.lit(' '), df.model, F.lit(' has a '), df.cyl, F.lit(' cylinder engine.')))

# Transform the trans column to only contain either manual or auto
df = df.withColumn('trans', F.when(df.trans.like('%manual%'), 'manual').otherwise('auto'))

# Show the resulting DataFrame
df.show(truncate=False)

TypeError: data is already a DataFrame

In [ ]:
import pyspark.sql.functions as F

In [6]:
# Load the tips dataset from the pydataset library
tips = data('tips')

# Convert the pandas DataFrame to Spark DataFrame
df = spark.createDataFrame(tips)

# Calculate the percentage of observations that are smokers
smokers_percentage = df.filter(df.smoker == 'Yes').count() / df.count() * 100

# Create a column that contains the tip percentage
df = df.withColumn('tip_percentage', F.col('tip') / F.col('total_bill') * 100)

# Calculate the average tip percentage for each combination of sex and smoker
avg_tip_percentage = df.groupby('sex', 'smoker').agg(F.avg('tip_percentage').alias('avg_tip_percentage'))

# Show the resulting DataFrame
df.show(truncate=False)
print("Percentage of observations that are smokers: {:.2f}%".format(smokers_percentage))
avg_tip_percentage.show(truncate=False)

NameError: name 'F' is not defined

In [7]:
from vega_datasets import data

weather = data.seattle_weather().assign(date=lambda df: df.date.astype(str))
weather = spark.createDataFrame(weather)
weather.show(6)

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|
|2012-01-03|          0.8|    11.7|     7.2| 2.3|   rain|
|2012-01-04|         20.3|    12.2|     5.6| 4.7|   rain|
|2012-01-05|          1.3|     8.9|     2.8| 6.1|   rain|
|2012-01-06|          2.5|     4.4|     2.2| 2.2|   rain|
+----------+-------------+--------+--------+----+-------+
only showing top 6 rows

In [10]:
# Convert temperatures to Fahrenheit
df['temp_fahrenheit'] = (weather['temp_max'] * 9/5) + 32

# Display the updated dataset
print(df)

TypeError: 'DataFrame' object does not support item assignment